# Exploring und Plotting

**Inhalt:** Selbständige Übung in Gruppen

**Nötige Skills:** Erste Schritte mit Pandas

**Lernziele:**
- Daten herunterladen und einlesbar aufbereiten
- Selbständig Daten explorieren und Storyideen testen
- Colormaps kennenlernen

# Das Beispiel

Temperaturdaten von Meteoschweiz.

Quelle und Dokumentation: https://www.meteoschweiz.admin.ch/home/klima/schweizer-klima-im-detail/schweizer-temperaturmittel/daten-schweizer-temperaturmittel.html

Datenfile: https://www.meteoschweiz.admin.ch/product/input/climate-data/swissmean/10.18751-Climate-Timeseries-CHTM-swiss.txt

Die Datei wurde mit Excel leicht editiert und ist bereits hier abgelegt: `dataprojects/Meteoschweiz/`

## Vorbereitung

Wir laden die übliche Library:

In [1]:
import pandas as pd

## Datenfile laden

In [2]:
path = "dataprojects/Meteoschweiz/10.18751-Climate-Timeseries-CHTM-swiss_edited.xlsx"

In [3]:
df = pd.read_excel(path)

In [4]:
df

,time,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
0,1864,-7.10,-4.52,0.04,2.10,7.43,9.48,12.37,10.95,8.59,3.51,-0.51,-4.47
1,1865,-3.46,-6.26,-5.91,7.01,10.10,10.98,13.98,11.16,11.89,5.21,1.26,-3.07
2,1866,-1.31,-0.42,-1.00,4.10,4.96,12.02,12.25,9.99,9.69,5.35,-0.20,-0.49
3,1867,-3.87,0.55,-0.13,3.48,7.74,10.57,11.29,12.94,10.42,2.93,-1.43,-5.80
4,1868,-5.46,-1.54,-2.30,2.32,12.04,11.96,12.88,12.50,11.12,4.78,-1.99,1.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,2018,0.47,-5.21,-0.18,7.82,10.46,13.82,16.23,15.89,12.58,8.04,2.78,-0.13
155,2019,-4.38,0.74,2.29,4.49,6.11,15.26,16.21,15.11,11.39,8.45,1.50,0.75
156,2020,-0.29,1.63,1.56,7.63,9.56,11.83,15.40,15.21,11.89,5.36,3.68,-1.21
157,2021,-3.57,0.83,0.94,2.88,6.24,14.37,13.90,13.11,12.14,6.27,1.12,-0.66
158,2022,-1.49,-0.14,2.37,4.62,11.49,15.36,16.96,NaN,NaN,NaN,NaN,NaN

## Daten checken

**Länge und Spalten**

In [5]:
df.shape

(159, 13)

**Integrität**

In [6]:
df.dtypes

time      int64
jan     float64
feb     float64
mar     float64
apr     float64
may     float64
jun     float64
jul     float64
aug     float64
sep     float64
oct     float64
nov     float64
dec     float64
dtype: object

## Daten arrangieren

Spalte "time" als Index setzen:

In [7]:
df = df.set_index("time")

In [8]:
df

,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
time,,,,,,,,,,,,
1864,-7.10,-4.52,0.04,2.10,7.43,9.48,12.37,10.95,8.59,3.51,-0.51,-4.47
1865,-3.46,-6.26,-5.91,7.01,10.10,10.98,13.98,11.16,11.89,5.21,1.26,-3.07
1866,-1.31,-0.42,-1.00,4.10,4.96,12.02,12.25,9.99,9.69,5.35,-0.20,-0.49
1867,-3.87,0.55,-0.13,3.48,7.74,10.57,11.29,12.94,10.42,2.93,-1.43,-5.80
1868,-5.46,-1.54,-2.30,2.32,12.04,11.96,12.88,12.50,11.12,4.78,-1.99,1.27
...,...,...,...,...,...,...,...,...,...,...,...,...
2018,0.47,-5.21,-0.18,7.82,10.46,13.82,16.23,15.89,12.58,8.04,2.78,-0.13
2019,-4.38,0.74,2.29,4.49,6.11,15.26,16.21,15.11,11.39,8.45,1.50,0.75
2020,-0.29,1.63,1.56,7.63,9.56,11.83,15.40,15.21,11.89,5.36,3.68,-1.21
2021,-3.57,0.83,0.94,2.88,6.24,14.37,13.90,13.11,12.14,6.27,1.12,-0.66
2022,-1.49,-0.14,2.37,4.62,11.49,15.36,16.96,NaN,NaN,NaN,NaN,NaN

**Was bedeuten die einzelnen Spalten?**

## Explorieren

Ihr Ziel ist, aus den Temperaturdaten eine einfache Story zu generieren.

Überlegen Sie sich dazu:
- Welche Fragen richten Sie an das Temperaturdaten-Set?
- Welche Auswertungen sind nötig, um die Fragen zu beanworten?
- Wie stellen Sie die Resultate mittels Grafiken dar?

Arbeiten Sie in Gruppen, um ein Ergebnis zu erarbeiten:
- Drei bis vier Sätze, welche die Story zusammenfassen
- eine oder mehrere Grafiken, die das Ergebnis illustrieren

### Story

Führen Sie zum Schluss hier Ihren "Pitch" and die Redaktion auf, mit Grafik und Kurzbeschrieb